@model SitecoreCoffee.Feature.Commerce.ViewModel.CartViewModel

<div>
    <header>
        <h1>Cart info</h1>
    </header>
    <div>
        <strong>Name:</strong>
        @Model.Cart.Name
    </div>
    <div>
        <strong>TotalAmount:</strong>
        @Model.Cart.TotalAmount
    </div>
    <div>
        <strong>IsPopulated:</strong>
        @Model.Cart.IsPopulated
    </div>
    <div>
        <strong>Products: @Model.Cart.Products.Count</strong>

        @foreach (var product in Model.Cart.Products)
        {
            <div style="border: 1px solid; padding: 4px;">
                <div><strong>Id:</strong> @product.Id</div>
                <div><strong>Name:</strong> @product.Name</div>
                <div><strong>Price:</strong> @product.Price</div>
                <div><strong>Sku:</strong> @product.Sku</div>
            </div>
        }
    </div>
    <div>
        <strong>ShopName:</strong>
        @Model.Cart.Info.ShopName
    </div>
    <div>
        <strong>ExternalId:</strong>
        @Model.Cart.Info.ExternalId
    </div>
    <div>
        <strong>UserId:</strong>
        @Model.Cart.Info.UserId
    </div>
</div>

